.spendings-block {
    margin: 20px auto;
    width: 50%;
}

.item-name,
.cost {
    padding: 0 10px;
}

.item-name,
.spending-text,
.cost,
.kgs,
.add-btn {
    margin: 0 4px;
}

.spending {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 10px auto;
}

.total-spend {
    display: block;
    margin: 50px auto;
}
